In [1]:
import numpy as np
import pandas as pd

# Series

## Criando um objeto Series

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

In [3]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(arr, index=labels)

a    10
b    20
c    30
dtype: int64

## Dados no objeto Series

In [8]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Utilizando os índices

In [10]:
ser1 = pd.Series([1, 2, 3, 4], index = ['Brasil', 'EUA', 'Alemanha', 'Japão'])

In [11]:
ser1

Brasil      1
EUA         2
Alemanha    3
Japão       4
dtype: int64

In [12]:
ser2 = pd.Series([1, 2, 5, 4], index = ['Brasil', 'EUA', 'Itália', 'Japão'])

In [13]:
ser2

Brasil    1
EUA       2
Itália    5
Japão     4
dtype: int64

In [14]:
ser1['EUA']

2

In [15]:
ser1 + ser2

Alemanha    NaN
Brasil      2.0
EUA         4.0
Itália      NaN
Japão       8.0
dtype: float64

# DataFrames

## Criando um DataFrame de exemplo

In [16]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(np.random.randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Seleção e Indexação

In [19]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [20]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [21]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [22]:
type(df['W'])

pandas.core.series.Series

## Criando uma nova Coluna

In [23]:
df['new'] = df['W'] + df['Y']

In [24]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [25]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [27]:
df.drop('new', axis=1, inplace=True)

In [28]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [30]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecionando linhas

In [31]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [32]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

## Selecionando subconjunto de linhas e colunas

In [33]:
df.loc['B', 'Y']

-0.8480769834036315

In [34]:
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

## Seleção condicional

In [35]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [36]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df[df['W']>0][['Y', 'X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [39]:
#Para duas condições é possível utilizar &(condição 'e') e |(condição 'ou') com parênteses

df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## Mais detalhes sobre índices

In [40]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
# Resetando os índices padrão 0, 1, 2,....,n
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [42]:
newind = 'AL AM AP AC BA'.split()

In [43]:
df['Estados'] = newind

In [44]:
df

          W         X         Y         Z Estados
A  2.706850  0.628133  0.907969  0.503826      AL
B  0.651118 -0.319318 -0.848077  0.605965      AM
C -2.018168  0.740122  0.528813 -0.589001      AP
D  0.188695 -0.758872 -0.933237  0.955057      AC
E  0.190794  1.978757  2.605967  0.683509      BA

In [45]:
df.set_index('Estados')

                W         X         Y         Z
Estados
AL       2.706850  0.628133  0.907969  0.503826
AM       0.651118 -0.319318 -0.848077  0.605965
AP      -2.018168  0.740122  0.528813 -0.589001
AC       0.188695 -0.758872 -0.933237  0.955057
BA       0.190794  1.978757  2.605967  0.683509

In [46]:
df

          W         X         Y         Z Estados
A  2.706850  0.628133  0.907969  0.503826      AL
B  0.651118 -0.319318 -0.848077  0.605965      AM
C -2.018168  0.740122  0.528813 -0.589001      AP
D  0.188695 -0.758872 -0.933237  0.955057      AC
E  0.190794  1.978757  2.605967  0.683509      BA

In [47]:
df.set_index('Estados', inplace = True)

In [48]:
df

                W         X         Y         Z
Estados
AL       2.706850  0.628133  0.907969  0.503826
AM       0.651118 -0.319318 -0.848077  0.605965
AP      -2.018168  0.740122  0.528813 -0.589001
AC       0.188695 -0.758872 -0.933237  0.955057
BA       0.190794  1.978757  2.605967  0.683509

## Multi-índice e hierarquia de índices

In [49]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]

In [50]:
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [51]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [53]:
df = pd.DataFrame(np.random.randn(6, 2), index = hier_index, columns = ['A', 'B'])

In [54]:
df

             A         B
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

In [55]:
df.loc['G1']

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [56]:
df.loc['G1'].loc[1]

A   -0.497104
B   -0.754070
Name: 1, dtype: float64

In [57]:
df.index.names

FrozenList([None, None])

In [58]:
df.index.names = ['Group', 'Num']

In [59]:
df

                  A         B
Group Num
G1    1   -0.497104 -0.754070
      2   -0.943406  0.484752
      3   -0.116773  1.901755
G2    1    0.238127  1.996652
      2   -0.993263  0.196800
      3   -1.136645  0.000366

In [60]:
df.xs('G1')

            A         B
Num
1   -0.497104 -0.754070
2   -0.943406  0.484752
3   -0.116773  1.901755

In [61]:
df.xs(('G1', 1))

A   -0.497104
B   -0.754070
Name: (G1, 1), dtype: float64

In [64]:
df.xs(1, level = 'Num')

              A         B
Group
G1    -0.497104 -0.754070
G2     0.238127  1.996652

# Tratando dados ausentes

In [65]:
df = pd.DataFrame({'A' : [1, 2, np.nan], 'B' : [5, np.nan, np.nan], 'C' : [1, 2, 3]})

In [66]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [67]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [68]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [69]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [70]:
df.fillna(value = 'FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [71]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

# Groupby

In [72]:
data = {'Company' : ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'], 'Person' : ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'], 'Sales' : [200, 120, 340, 124, 243, 350]}

In [73]:
df = pd.DataFrame(data)

In [74]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [75]:
df.groupby('Company')

In [76]:
by_comp = df.groupby('Company')

In [78]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [79]:
df.groupby('Company').mean() #Geralmente é feito direto

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [80]:
df.groupby('Company').std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [81]:
df.groupby('Company').min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [82]:
df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [83]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [84]:
df.groupby('Company').sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [85]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [86]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [87]:
df.groupby('Company').describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

# Mesclando, unindo e concatenando

In [90]:
df1 = pd.DataFrame({'A' : ['A0', 'A1', 'A2', 'A3'], 'B' : ['B0', 'B1', 'B2', 'B3'], 'C' : ['C0', 'C1', 'C2', 'C3'], 'D' : ['D0', 'D1', 'D2', 'D3']}, index = [0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [91]:
df2 = pd.DataFrame({'A' : ['A4', 'A5', 'A6', 'A7'], 'B' : ['B4', 'B5', 'B6', 'B7'], 'C' : ['C4', 'C5', 'C6', 'C7'], 'D' : ['D4', 'D5', 'D6', 'D7']}, index = [4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [92]:
df3 = pd.DataFrame({'A' : ['A8', 'A9', 'A10', 'A11'], 'B' : ['B8', 'B9', 'B10', 'B11'], 'C' : ['C8', 'C9', 'C10', 'C11'], 'D' : ['D8', 'D9', 'D10', 'D11']}, index = [8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## Concatenação

In [93]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [94]:
pd.concat([df1, df2, df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

## Mesclando

In [95]:
esq = pd.DataFrame({'key' : ['K0', 'K1', 'K2', 'K3'], 'A' : ['A0', 'A1', 'A2', 'A3'], 'B' : ['B0', 'B1', 'B2', 'B3']})
esq

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [96]:
dir = pd.DataFrame({'key' : ['K0', 'K1', 'K2', 'K3'], 'C' : ['C0', 'C1', 'C2', 'C3'], 'D' : ['D0', 'D1', 'D2', 'D3']})
dir

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [97]:
pd.merge(esq, dir, how = 'inner', on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [99]:
esq = pd.DataFrame({'key1' : ['K0', 'K0', 'K1', 'K2'], 'key2' : ['K0', 'K1', 'K0', 'K1'], 'A' : ['A0', 'A1', 'A2', 'A3'], 'B' : ['B0', 'B1', 'B2', 'B3']})
esq

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [100]:
dir = pd.DataFrame({'key1' : ['K0', 'K1', 'K1', 'K2'], 'key2' : ['K0', 'K0', 'K0', 'K0'], 'C' : ['C0', 'C1', 'C2', 'C3'], 'D' : ['D0', 'D1', 'D2', 'D3']})
dir

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [101]:
pd.merge(esq, dir, on = ['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [104]:
pd.merge(esq, dir, how = 'outer', on = ['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [105]:
pd.merge(esq, dir, how = 'right', on = ['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [106]:
pd.merge(esq, dir, how = 'left', on = ['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

## Junção

In [107]:
esq = pd.DataFrame({'A' : ['A0', 'A1', 'A2'], 'B' : ['B0', 'B1', 'B2']}, index = ['K0', 'K1', 'K2'])
esq

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [109]:
dir = pd.DataFrame({'C' : ['C0', 'C2', 'C3'], 'D' : ['D0', 'D2', 'D3']}, index = ['K0', 'K2', 'K3'])
dir

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [111]:
esq.join(dir)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [113]:
esq.join(dir, how = 'outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [112]:
dir.join(esq)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN

# Operações com Pandas

In [114]:
df = pd.DataFrame({'col1' : [1, 2, 3, 4], 'col2' : [444, 555, 666, 444], 'col3' : ['abc', 'def', 'ghi', 'xyz']})

In [115]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [116]:
df.head() #Printa as 5 primeiras linhas, usar qnd for um DF grande

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [117]:
df['col2'].unique()

array([444, 555, 666])

In [118]:
df['col2'].nunique()

3

In [119]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [125]:
newdf = df[(df['col1'] > 2) & (df['col2'] == 444)]

In [126]:
newdf

   col1  col2 col3
3     4   444  xyz

In [127]:
def vezes2(x):
  return x*2

In [129]:
df['col1'].apply(vezes2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [130]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [131]:
df['col1'].sum()

10

In [132]:
del df ['col1']

In [133]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [134]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [135]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [137]:
df.sort_values(by = 'col2') #inplace = False por padrão

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [139]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [143]:
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

# Entrada e saída de dados

## CSV

In [148]:
df = pd.read_csv('example')

In [149]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [150]:
df.to_csv('exampe2', index = False)

## Excel

In [152]:
df = pd.read_excel('Excel_Sample.xlsx', sheet_name = 'Sheet1')

In [153]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [154]:
df.to_excel('Excel_Sample2.xlsx', sheet_name = 'Sheet1')